.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav
{
  background-color: #fff;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  display: inline-block;
  color: #141D26;
  margin-bottom: 20px;
}
p{
  padding: 0;
  margin: 0;
  display: inline-block;
  
}
.insideNav
{
  float: left;
  padding-left: 50px;
  margin:0;

}
.insideNav p
{
  padding: 20px;
}

body{
  background-color: #E6ECF0;
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  width:100vw;
  
}

.card-left
{
background-color: #000;

}
.box1
{margin-left:90px;}
.right 
{
  margin-left:115px;
  margin-top:-20px;
}

.follow
{
  border-radius: 50%;
  width: 60%;
  height:0 auto;
padding:0;
  margin-right: -10%;
}
.right{
  padding-left: 15px;

}

.right a
{
  color:#42B0F4;
}
.followbutton
{border:1px;
  width:100px;
  text-align:center;
  padding: 5px;
  margin-top:5px;
  font-weight: bold;
  border-radius: 30px;
  border-style:solid;
  border-color:#42B0F4;
  color: #42B0F4;
  font-size: 14px;
  
}
.followbutton:hover{
  background-color:#E8F5FD;
}
.row
{
  text-align: justify;
}
.user
{width: 36px;
  height: 36px;
border-radius: 50%;
padding-left: 10px;
padding-top:10px;
margin-bottom: -10px;
}
.hash
{
  margin-top: -30px;
color: #42B0F4;
}
a{
  text-decoration: none;
  color: #42B0F4;
}

#first 
{
  text-align: center;
}

.tweet
{background-color: #fff;
padding-left: 100px;
margin-bottom:10px;
border-radius:6px;
}

.tweet2
{
  padding-left: 150px;
}
.nav-image
{

padding:10px 20px 0 20px ;
margin-bottom: -10px;
margin-left:-10px;

}
.tweet-image
{

padding:10px 20px 0 20px ;
margin-bottom: -10px;
margin-left:-40px;
margin-right:-10px;

}
.right-nav
{
  margin-top: -10px;
  margin-left: 60px;
  margin-right:120px;

}

.search
{
  display: inline-block;
margin-top: 10px;
}

.followingbutton
{
  border:1px;
  width:100px;
  text-align:center;
  padding: 5px;
  margin-top:5px;
  font-weight: bold;
  border-radius: 30px;
  border-style:solid;
  border-color:#42B0F4;
  background-color: #42B0F4;
color:#fff;
font-size: 13px;
}
.followingbutton:hover
{
  border:1px;
  width:100px;
  text-align:center;
  padding: 5px;
  margin-top:5px;
  font-weight: bold;
  border-radius: 30px;
  border-style:solid;
  border-color:#AC002B;
  background-color:#AC002B;
color:#fff;
font-size: 13px;
}

.tweets
{
  margin-left:90px;
}
.see-new
{
  margin-left:-10px;
  text-align:center;
  background-color:#E6ECF0;
  margin-top:30px;
  color:#42B0F4;
  padding:10px;
  border:1px;
  border-style:solid;
  border-color:#42B0F4;
}
.see-new:hover
{
background-color:rgb(233, 233, 233);
}
.profile
{
  background: linear-gradient(to right, #2c3e50 , #2a5298);  

}
.followpaper
{
  background: linear-gradient(to right,#ee0979 , #ff6a00);  
}
.comment:hover
{
  color: #42B0F4;
}
.like:hover
{
  color: #E0245E;
}
.retweet:hover
{
  color: #55CF8D;
}
.dm:hover
{
  color:#42B0F4;
}
.tweetfunctions a
{
  color: grey;
}
